<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/inicio']">VK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#VK-navbarToggler" aria-controls="VK-navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="VK-navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" *ngFor="let link of links; let i = index;" [ngClass]="{'active': i}">
                <a class="nav-link" [routerLink]="['/' + link.url]" routerLinkActive="router-link-active">{{ link.name }}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="DropdownCategorias" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="DropdownCategorias">
                    <a class="dropdown-item" *ngFor="let categoria of categorias.sort()" [routerLink]="['/categorias/' + categoria]">{{ categoria }}</a>
                </div>
            </li>
        </ul>
        <div class="ml-3">
            <a href="https://www.instagram.com/mueblesvk" target="_blank" class="mx-2">
                <img src="assets/images/instagram.svg" alt="Instagram" width="20">
            </a>
            <a href="https://www.facebook.com/verakrugdeco" target="_blank" class="mx-2">
                <img src="assets/images/facebook.svg" alt="Facebook" width="20">
            </a>
            <a href="https://api.whatsapp.com/send?phone=541138860680&text=Hola!%20Me%20interesan%20sus%20productos,%20me%20pueden%20contactar?" target="_blank" class="mx-2">
                <img src="assets/images/whatsapp.svg" alt="Whatsapp" width="20">
            </a>
        </div>
    </div>
</nav>