<h1 class="title text-center">Nuestros medios de pagos</h1>
<mat-card class="row py-4">
    <div class="col-md-3 d-flex justify-content-around justify-content-md-center align-items-center mb-3 mb-md-0">
        <img src="assets/images/credit-card.svg" id="view-more" width="18%" alt="Icono de tarjeta de crédito" title="Medios de pago">
        <div class="text-container ml-3">
            <h2 class="payment-data-title m-0">Tarjeta de crédito</h2>
            <a href="http://" class="payment-data-subtitle">Ver promociones bancarias</a>
        </div>
    </div>
    <div class="col-md-3 d-flex justify-content-around justify-content-md-center align-items-center mb-3 mb-md-0">
        <img src="assets/images/credit-card-2.svg" id="view-more" width="18%" alt="Icono de tarjeta de débito" title="Medios de pago">
        <div class="text-container ml-3">
            <h2 class="payment-data-title m-0">Tarjeta de débito</h2>
            <a href="http://" class="payment-data-subtitle">Ver más</a>
        </div>
    </div>
    <div class="col-md-3 d-flex justify-content-around justify-content-md-center align-items-center mb-3 mb-md-0">
        <img src="assets/images/notes.svg" id="view-more" width="18%" alt="Icono de biletes" title="Medios de pago">
        <div class="text-container ml-3">
            <h2 class="payment-data-title m-0">Efectivo</h2>
            <a href="http://" class="payment-data-subtitle">Ver más</a>
        </div>
    </div>
    <div class="col-md-3 d-flex justify-content-center align-items-center mb-3 mb-md-0 border-left">
        <div class="text-container ml-3">
            <h2 class="payment-data-title m-0">Más medios de pago</h2>
            <a href="http://" class="payment-data-subtitle">Ver todos</a>
        </div>
    </div>
</mat-card>