<mat-card class="p-4 mb-3 mb-md-0">
    <mat-card-header class="row d-none d-md-block">
        <div class="col-12">
            <mat-card-title>{{ card.title ? card.title : '' }}</mat-card-title>
        </div>
    </mat-card-header>
    <img mat-card-image [src]="card.src" [alt]="card.alt">
    <mat-card-content>
        <p class="m-0">
            <span class="price">{{ card.price ? '$ ' + (card.price | number: '' : 'es-Ar') : '' }}</span>
            <span class="discount"> {{ card.discount }}% OFF</span>
        </p>
        <p class="text-muted">{{ card.cuotes }} x {{ (card.price / card.cuotes).toFixed(2) | number: '' : 'es-Ar' }} Sin interés</p>
    </mat-card-content>
</mat-card>