<footer>
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-4">
                <h1 class="title">MueblesVK</h1>
                <p>En VK hacemos de tu espacio tu lugar favorito. <br> Nos comprometemos a cumplir con los plazos acordados y a superar tus expectativas de lo que esperas de una compra OnLine.</p>
            </div>
            <div class="col-md-4">
                <h1 class="title">Nuestros productos</h1>
                <p class="m-0">Sillones</p>
                <p class="m-0">Esquineros</p>
                <p class="m-0">Respaldos de Cama</p>
                <p class="m-0">Puffs</p>
                <p class="m-0">Juegos de Living</p>
                <p class="m-0">Deco & Design</p>
            </div>
            <div class="col-md-4">
                <h1 class="title">Ayuda</h1>
                <a href="#">Preguntas Frecuentes</a>
                <br>
                <a href="#">Términos y Condiciones</a>
                <br>
                <a href="#">Envíos</a>
            </div>
            <div class="col-md-9 d-flex align-items-center border-top">
                <p class="copyright text-muted m-0">Copyright © 2020 <span class="font-weight-bold">MueblesVK</span> | Todos los derechos reservados</p>
            </div>
            <div class="col-3 d-flex justify-content-end py-2 border-top">
                <a href="https://www.instagram.com/mueblesvk" target="_blank" class="mx-2">
                    <img src="assets/images/instagram.svg" alt="Instagram" width="20">
                </a>
                <a href="https://www.facebook.com/verakrugdeco" target="_blank" class="mx-2">
                    <img src="assets/images/facebook.svg" alt="Facebook" width="20">
                </a>
                <a href="https://api.whatsapp.com/send?phone=541138860680&text=Hola!%20Me%20interesan%20sus%20productos,%20me%20pueden%20contactar?" target="_blank" class="mx-2">
                    <img src="assets/images/whatsapp.svg" alt="Whatsapp" width="20">
                </a>
            </div>
        </div>
    </div>
</footer>