<footer>
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-4">
                <h1 class="title">MUEBLESVK BY VERAKRUGDECO</h1>
                <p>En VK hacemos de tu espacio tu lugar favorito. Nos comprometemos a cumplir con los plazos acordados y a superar tus expectativas de lo que esperas de una compra OnLine.</p>
            </div>
            <div class="col-md-4">
                <h1 class="title">ENCONTRA EN VK</h1>
                <p>Sillones</p>
                <p>Esquineros</p>
                <p>Respaldos de Cama</p>
                <p>Puffs</p>
                <p>Juegos de Living</p>
                <p>Deco & Design</p>
            </div>
            <div class="col-md-4">
                <h1 class="title">SOMOS FABRICANTES</h1>
                <a _ngcontent-afj-c10="" href="https://api.whatsapp.com/send?phone=+541138860680&amp;text=Hola!%20Me%20interesan%20sus%20productos%20me%20pueden%20contactar?" target="_blank">WhatsApp ( Click Aquí )</a>
                <br>
                <a _ngcontent-afj-c10="" href="https://goo.gl/maps/oQwBuXh9hfguKSZ69" tarjet="_blank">Ver nuestra ubicación</a>
            </div>
        </div>
    </div>
</footer>